html, textarea {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	background-color: #1287a8;
	color: whitesmoke;
}

textarea {
	border: 1px solid whitesmoke;
	text-align: center;
	font-size: 18px;
	resize: none;
	margin: 10px;
	width: 60%;
}

body {
	width: 50vw;
	margin: 40px auto;
	text-align: center;
	font-size: 18px;
}

h1 {
	font-size: 42px;
}

p {
	margin: 0;
	font-size: 22px;
}

.fa:hover {
	color: #a81287;
}

.container {
	margin-top: 30px;
}

.time {
	width: 30%;
	display: inline-block;
}

.time-controller {
	width: 150px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
}

#text-timer {
	font-size: 22px;
}

.timer-number {
	font-size: 50px;
	color: darkslateblue;
}

#controls-timer {
	margin-top: 30px;
}

.btn-player {
	margin: 0 20px;
}

.small-ltr {
	font-size: 14px;
	position: relative;
	bottom: 20px;
}